/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}

.submit {
    margin-top:5px;
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.submit i {
    margin-right: 4px;
}
.add-new {
    margin-top:5px;
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.add-new i {
    margin-right: 4px;
}

a.delete i {
    font-size: 30px;
    cursor: pointer;
    color: #E34724;
}

.row {
    margin-top:5px;
}